<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Customer Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAatP4AreT/AACu/gD///8AAK/+AE/D/gCh3v4AS8b+AO/6/wDQ7v8AHLP+AAAAAAAAAAAAAAAAAAAAAAAAAAAAMzMyREQjMzMzMkQTMUQjMzNEM5NjM0QzMkMzQ0MzNCM0M6RERAMzQyQzNERERDNCQTM3QzNEMxRDMzdIhUIzNEMzN0M0QzM0QTM3QzNDMxQkMzREREMzQjQzREREMzNDMkMzQ0MzNCMzRDOTYzNEMzMyRBMxRCMzMzMyREQjMzMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/css/login/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/css/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/css/login/vendor/animate/animate.css">
        <!--===============================================================================================-->	
            <link rel="stylesheet" type="text/css" href="/css/login/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/css/login/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/css/login/css/util.css">
            <link rel="stylesheet" type="text/css" href="/css/login/css/main.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/css/login/vendor/animsition/css/animsition.min.css">
        <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="/css/login/vendor/select2/select2.min.css">
        <!--===============================================================================================-->	
            <link rel="stylesheet" type="text/css" href="/css/login/vendor/daterangepicker/daterangepicker.css">
        <!--===============================================================================================-->	
            <link rel="stylesheet" type="text/css" href="/css/login/fonts/iconic/css/material-design-iconic-font.min.css">
        <!--===============================================================================================-->
    </head>
    <body>
        <div class="limiter">
            <div class="container-login100" style="background-image: url('/css/login/images/bg-01.jpg');">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                    <span class="login100-form-title p-b-49">
                        Login
                    </span>
                    <div align="center">
                        <img src="<%= data %>" class="resize">
                        <div>
                            1. Scan this QR code with your Uport App then click "Share to login".
                            <br>2. Input your phone password to verify.
                            <br>3. After 30sec, click the Homepage button below.
                            <br><a href="home">
                                <button class="btn btn-primary">Homepage</button>
                            </a>
                        </div>
                    </div>
                    <div class="text-right p-t-8 p-b-31">
                        <a href="#">
                            Forgot password?
                        </a>
                    </div>
                    <div align="center">
                        Don't have accont? <a href="signup">
                            Sign Up Here
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--===============================================================================================-->	
        <script src="/css/login/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="/css/login/vendor/bootstrap/js/popper.js"></script>
        <script src="/css/login/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="/css/login/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
            <script src="/css/login/vendor/daterangepicker/moment.min.js"></script>
            <script src="/css/login/vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
            <script src="/css/login/vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="/css/login/js/main.js"></script>
        <!--===============================================================================================-->
	    <script src="/css/login/vendor/animsition/js/animsition.min.js"></script>
    </body>
</html>