<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Customer Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAatP4AreT/AACu/gD///8AAK/+AE/D/gCh3v4AS8b+AO/6/wDQ7v8AHLP+AAAAAAAAAAAAAAAAAAAAAAAAAAAAMzMyREQjMzMzMkQTMUQjMzNEM5NjM0QzMkMzQ0MzNCM0M6RERAMzQyQzNERERDNCQTM3QzNEMxRDMzdIhUIzNEMzN0M0QzM0QTM3QzNDMxQkMzREREMzQjQzREREMzNDMkMzQ0MzNCMzRDOTYzNEMzMyRBMxRCMzMzMyREQjMzMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
        
    </head>
    <body>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <br><h1 align="center">Login</h1>
                </div>
                <div align="center" class="panel-body">
                    <br>Login success! Welcome, <%= data.ID %>! 
                    <a href="/home"> Click here</a> to get to homepage.
                </div>
            </div>
        </div>
    </body>
</html>