<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign-up: Step 2/2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Icon -->
        <link rel="stylesheet" href="/css/signup/fonts/material-icon/css/material-design-iconic-font.min.css">

        <!-- Main css -->
        <link rel="stylesheet" href="/css/signup/css/style.css">
        <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAatP4AreT/AACu/gD///8AAK/+AE/D/gCh3v4AS8b+AO/6/wDQ7v8AHLP+AAAAAAAAAAAAAAAAAAAAAAAAAAAAMzMyREQjMzMzMkQTMUQjMzNEM5NjM0QzMkMzQ0MzNCM0M6RERAMzQyQzNERERDNCQTM3QzNEMxRDMzdIhUIzNEMzN0M0QzM0QTM3QzNDMxQkMzREREMzQjQzREREMzNDMkMzQ0MzNCMzRDOTYzNEMzMyRBMxRCMzMzMyREQjMzMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
    </head>
    <body>
        <div class="main">
            <section class="signup">
                 <!-- <img src="images/signup-bg.jpg" alt=""> -->
                <div class="container">
                    <div class="signup-content">
                        <h2 class="form-title">Create account (Step 2/2)</h2>
                        <div align="center">
                            <img src="<%= data.code %>">
                        </div>
                        <div>
                            1. Scan this QR code with your Uport App and click "Share to login".
                            <br>2. Wait 30sec, then click Accept on a pop-up on your Uport App to get your Credential.
                            <br>3. Received Dylans App ID Credential? Go to <a href="/">Login</a> site.      
                        </div>
                        <p class="loginhere">
                            Already have account? <a href="/login" class="loginhere-link">Login here</a>
                        </p>
                    </div>
                </div>
            </section>
        </div>
        <!-- JS -->
        <script src="/css/signup/vendor/jquery/jquery.min.js"></script>
        <script src="/css/signup/js/main.js"></script>
    </body>
</html>