<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Create Lightning Node</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Create Lightning Node
                </div>
                <div class="panel-body">
                    <a href="/">
                        <button>Homepage</button>
                    </a>
                    <form method="post" action="/lncreatenode">
                        <div class="form-group">
                            <label class="col-md-4">Enter your btc add</label>
                            <input type="text" name="btc_add" class="form-control" placeholder= "Bitcoin Address *" required />
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Enter Fund (Require > 1000000 Sat)</label>
                            <input type="number" name="fund" class="form-control" placeholder= "Unit: Sat *" required />
                        </div>
                        <div class="form-group">
                            <label class= "col-md-4">Enter Your Passphrase</label>
                            <input type="password" name="pass" class="form-control" placeholder="Password *" required />
                        </div>
                        <div class="form-group">
                            <label class= "col-md-4">Re-enter Your Passphrase</label>
                            <input type="password" name="repass" class="form-control" placeholder="Password *" required />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Create Node</button>
                        </div>
                    </form>      
                </div>
            </div>
        </div>
    </body>
</html>